prefer-no-csd
screenshot-path "~/Pictures/Screenshot-%Y_%m_%d-%H_%M_%S.png"

input {
	keyboard {
		xkb {
			layout "us"
			variant "altgr-intl"
		}
		numlock
	}
	mouse {
		accel-profile "flat"
	}
	touchpad {
		tap
		natural-scroll
		drag true
		click-method "clickfinger"
		tap-button-map "left-right-middle"
		scroll-method "two-finger"
	}
	disable-power-key-handling
}

// 9l-drobit internal
output "AU Optronics 0xA48F Unknown" {
	scale 1
	position x=-1920 y=300
}

// 9l-eldrid internal
output "Chimei Innolux Corporation 0x1406 Unknown" {
	scale 1.1
	position x=-1746 y=300
}

// 9l-zephyr internal
output "Thermotrex Corporation TL140ADXP01 Unknown" {
	scale 1.3333333333333333
	position x=-1920 y=300
}

// ~ primary
output "HP Inc. HP X34 6CM25210CS" {
	scale 1
	position x=0 y=0
	mode "3440x1440@120.000"
}

layout {
	gaps 3
	center-focused-column "never"
	always-center-single-column
	focus-ring {
		width 3
		active-gradient from="#9d65ff" to="#f4005f" angle=45
	}
	border {
		off
	}
	tab-indicator {
		width 6
		gap 6
		length total-proportion=1.0
		position "top"
		place-within-column
	}
	preset-column-widths {
		proportion 0.25
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 0.75
  }
}

hotkey-overlay {
	skip-at-startup
	hide-not-bound
}

overview {
	zoom 0.6
	backdrop-color "#0c0c0c"
}

window-rule {
	match app-id="com.saivert.pwvucontrol"
	match app-id="blueberry.py"
	open-floating true
}

binds {
	Mod+Shift+Slash { show-hotkey-overlay; }

	Mod+Return { spawn "kitty"; }
	Mod+D { spawn "fuzzel"; }
	Mod+V { spawn "cliphist-fuzzel"; }
	Mod+Escape hotkey-overlay-title="Lock the Screen" { spawn "loginctl" "lock-session"; }

	XF86AudioRaiseVolume allow-when-locked=true { spawn "swayosd-client" "--output-volume" "raise"; }
	XF86AudioLowerVolume allow-when-locked=true { spawn "swayosd-client" "--output-volume" "lower"; }
	XF86AudioMute allow-when-locked=true { spawn "swayosd-client" "--output-volume" "mute-toggle"; }
	XF86AudioMicMute allow-when-locked=true { spawn "swayosd-client" "--input-volume" "mute-toggle"; }

	XF86MonBrightnessUp allow-when-locked=true { spawn "swayosd-client" "--brightness" "raise"; }
	XF86MonBrightnessDown allow-when-locked=true { spawn "swayosd-client" "--brightness" "lower"; }

	XF86KbdBrightnessUp allow-when-locked=true { spawn "kbd_backlight_osd" "10%+"; }
	XF86KbdBrightnessDown allow-when-locked=true { spawn "kbd_backlight_osd" "10%-"; }

	Mod+W repeat=false { toggle-overview; }
	Mod+Q repeat=false { close-window; }

	Mod+Left { focus-column-left; }
	Mod+Down { focus-window-down; }
	Mod+Up{ focus-window-up; }
	Mod+Right { focus-column-right; }
	Mod+H { focus-column-left; }
	Mod+J { focus-window-or-workspace-down; }
	Mod+K { focus-window-or-workspace-up; }
	Mod+L { focus-column-right; }

	Mod+Ctrl+Left { move-column-left; }
	Mod+Ctrl+Down { move-window-down; }
	Mod+Ctrl+Up { move-window-up; }
	Mod+Ctrl+Right { move-column-right; }
	Mod+Ctrl+H { move-column-left; }
	Mod+Ctrl+J { move-window-down-or-to-workspace-down; }
	Mod+Ctrl+K { move-window-up-or-to-workspace-up; }
	Mod+Ctrl+L { move-column-right; }

	Mod+Home { focus-column-first; }
	Mod+End { focus-column-last; }
	Mod+Ctrl+Home { move-column-to-first; }
	Mod+Ctrl+End { move-column-to-last; }

	Mod+Shift+Left { focus-monitor-left; }
	Mod+Shift+Down { focus-monitor-down; }
	Mod+Shift+Up{ focus-monitor-up; }
	Mod+Shift+Right { focus-monitor-right; }
	Mod+Shift+H { focus-monitor-left; }
	Mod+Shift+J { focus-monitor-down; }
	Mod+Shift+K { focus-monitor-up; }
	Mod+Shift+L { focus-monitor-right; }

	Mod+Shift+Ctrl+Left { move-column-to-monitor-left; }
	Mod+Shift+Ctrl+Down { move-column-to-monitor-down; }
	Mod+Shift+Ctrl+Up { move-column-to-monitor-up; }
	Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
	Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
	Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
	Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
	Mod+Shift+Ctrl+L { move-column-to-monitor-right; }

	Mod+Page_Down { focus-workspace-down; }
	Mod+Page_Up { focus-workspace-up; }
	Mod+U { focus-workspace-down; }
	Mod+I { focus-workspace-up; }
	Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
	Mod+Ctrl+Page_Up { move-column-to-workspace-up; }
	Mod+Ctrl+U { move-column-to-workspace-down; }
	Mod+Ctrl+I { move-column-to-workspace-up; }

	Mod+Shift+Page_Down { move-workspace-down; }
	Mod+Shift+Page_Up { move-workspace-up; }
	Mod+Shift+U { move-workspace-down; }
	Mod+Shift+I { move-workspace-up; }

	Mod+WheelScrollDown cooldown-ms=150 { focus-column-right; }
	Mod+WheelScrollUp cooldown-ms=150 { focus-column-left; }
	Mod+WheelScrollRight cooldown-ms=150 { move-column-right; }
	Mod+WheelScrollLeft cooldown-ms=150 { move-column-left; }

	Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
	Mod+Shift+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
	Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
	Mod+Ctrl+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }

	Mod+1 { focus-workspace 1; }
	Mod+2 { focus-workspace 2; }
	Mod+3 { focus-workspace 3; }
	Mod+4 { focus-workspace 4; }
	Mod+5 { focus-workspace 5; }
	Mod+6 { focus-workspace 6; }
	Mod+7 { focus-workspace 7; }
	Mod+8 { focus-workspace 8; }
	Mod+9 { focus-workspace 9; }
	Mod+0 { focus-workspace 10; }
	Mod+Ctrl+1 { move-column-to-workspace 1; }
	Mod+Ctrl+2 { move-column-to-workspace 2; }
	Mod+Ctrl+3 { move-column-to-workspace 3; }
	Mod+Ctrl+4 { move-column-to-workspace 4; }
	Mod+Ctrl+5 { move-column-to-workspace 5; }
	Mod+Ctrl+6 { move-column-to-workspace 6; }
	Mod+Ctrl+7 { move-column-to-workspace 7; }
	Mod+Ctrl+8 { move-column-to-workspace 8; }
	Mod+Ctrl+9 { move-column-to-workspace 9; }
	Mod+Ctrl+0 { move-column-to-workspace 10; }

	Mod+BracketLeft { consume-or-expel-window-left; }
	Mod+BracketRight { consume-or-expel-window-right; }
	Mod+Comma { consume-window-into-column; }
	Mod+Period { expel-window-from-column; }

	Mod+R { switch-preset-column-width; }
	Mod+Shift+R { switch-preset-window-height; }
	Mod+Ctrl+R { reset-window-height; }
	Mod+F { maximize-column; }
	Mod+Shift+F { fullscreen-window; }
	Mod+Ctrl+F { expand-column-to-available-width; }
	Mod+C { center-column; }
	Mod+Ctrl+C { center-visible-columns; }
	Mod+Minus { set-column-width "-5%"; }
	Mod+Equal { set-column-width "+5%"; }

	Mod+Shift+Minus { set-window-height "-5%"; }
	Mod+Shift+Equal { set-window-height "+5%"; }

	Mod+G { toggle-window-floating; }
	Mod+Shift+G { switch-focus-between-floating-and-tiling; }

	Mod+T { toggle-column-tabbed-display; }

	Mod+Shift+S { screenshot; }
	Ctrl+Print { screenshot-screen; }
	Alt+Print { screenshot-window; }

	Mod+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

	Mod+Shift+E { quit; }
}
