* {
	border: none;
	font-family: Iosevka Extended, Iosevka Nerd Font Propo;
	font-size: 15px;
	font-feature-settings: "cv10=1, cv36=1";
	color: #f6f6ef;
	border-radius: 0;
}

window#waybar {
	background: rgba(12, 12, 12, 0.66);
	/* background-color: #0c0c0c; */
}

/*-----module groups----*/
.modules-right,
.modules-center {
	padding: 0 10px;
}

/*-----modules indv----*/
/*#workspaces {}*/
#workspaces button {
	padding: 0 10px;
	background-color: transparent;
}

#workspaces button:hover {
	box-shadow: inherit;
	background-color: rgba(196, 197, 181, 0.5);
}

#workspaces button.active {
	/* background-image: linear-gradient(315deg, #9d65ff, #f4005f); */
	background-color: #625e4c;
}

#workspaces button.urgent {
	background-color: rgba(244, 0, 95, 0.9);
}

/*-----Indicators----*/
#idle_inhibitor.activated {
	color: #9d65ff;
}

#wireplumber.muted {
	color: #f4005f;
}

#battery.charging {
	color: #98e024;
}

#battery.warning:not(.charging) {
	color: #fd971f;
}

#battery.critical:not(.charging) {
	color: #f4005f;
}

#privacy {
	background-color: #fd971f;
	padding: 0 10px;
}

#mpris {
	padding: 0 10px;
}
